body {
    width: 100vw;
    height: 100vh;    
    margin: 0;
    padding: 0;
    display: flex;
    place-content: center;
}
.wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    align-self: center;
    border-radius: 50%;
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.dart {
    width: 15px;
    height: 15px;
    background-color: rgb(229, 240, 32);
    border: 5px dotted rgb(0, 21, 255);
    position: absolute;
    border-radius: 50%;
    transform: translate( -12px, -12px);
    animation: boxes 0.7s ;
}
@keyframes boxes {
    0%{
       transform: rotate(270deg) translateX(-200px) translateY(-150px);
     }
     20%{
       border-radius:7px;
  }
}